html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
  width: 100%;
  padding: 20px, 30px;
  background-color: #ffffff;
  display: flex;
  justify-content: baseline;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  padding: 3px 20px;
}

.logo{
    border: 2px solid black;
    padding: 20px, 40px;
    font-size: 40px;
}

ul{
    display: flex;
    list-style-type: none;
    margin:0;
    border: 2px solid black;
    padding: 8px;
    padding-right: 30px;
    gap: 10px;
}

ul li{
    border: 2px solid black;
    padding: 12px 8px;
    font-size: 30px;
    background-color: #ffffff;
}

a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
}