@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
    background-color: #f0f4ef;
}

header
{
    background-color: #222222;
    height: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1
{
    color: white;
    font-size: 1.2em;
}

nav a
{
    color: white;
    text-decoration: none;
}

h2
{
    font-family: "Tangerine", cursive;
    font-style: normal;
    font-size: 60px;
}

main
{
    padding-left: 10vw;
    padding-right: 10vw;
}

.photo-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card
{
    background-color: white;
    border: 1px solid lightgray;
}

.card img
{
    width: 100%;
    display: block;
}

.card p
{
    padding: 5px;
}

footer
{
    text-align: center;
    background-color: #222222;
    color: white;
    padding: 10px;
}

@media (max-width: 700px)
{
    .photo-container
    {
        grid-template-columns: 1fr;
    }

    header
    {
        height: auto;
        flex-direction: column;
        padding: 10px;
    }
}