body {
    font-family: Lucida Console, Courier New, monospace;
    margin: 0;
    a {
        color: #930000;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    a:hover {
        color: #ff0000;
        text-decoration: underline;
    }
}

.navbar {
    padding: 20px;
    background-color: #ec5c5c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a, .navbar strong {
    margin-right: 15px;
}

.photo-section {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.photo-section img {
    width: 32%;
    margin-right: 1.3%;
    width:350px;
    height: 230px;
}

main {
     background-color: #ec5c5c43;
    padding-right: 10vw;
    padding-left: 10vw;
   
}