html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #ededed;
}

/* create additional rules below:  */

#home, #bio, #portfolio, #contact {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home{
    background-color: #c43d18;
}
#bio{
    background-color: #c4be18;
}
#portfolio{
    background-color: #18c47f;
}
#contact{
    background-color: #184ec4;
}
