body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f9bbca;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid-container > div {
    background: #fff6f6;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

/*odd*/
.item-1, .item-3, .item-5 {
    grid-column: 1 / 4;
}

/*even*/
.item-2, .item-4 {
    grid-column: 3 / 6;
}

/*rows*/
.item-1 { grid-row: 1 / 2; }
.item-2 { grid-row: 2 / 3; }
.item-3 { grid-row: 3 / 4; }
.item-4 { grid-row: 4 / 5; }
.item-5 { grid-row: 5 / 6; }