@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
  width: 100%;
  padding: 20px, 30px;
  background-color: #ffffff;
  display: flex;
  justify-content: baseline;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  padding: 3px 20px;
}

.logo{
    border: 2px solid black;
    padding: 20px, 30px;
    font-size: 40px;
}

ul{
    display: flex;
    list-style-type: none;
    margin:0;
    border: 0px solid black;
    padding: 8px;
    padding-right: 10px;
    gap: 10px;
}

ul li{
    color: rgb(30, 0, 255);
    border: 0px;
    padding: 20px 8px;
    font-size: 25px;
    background-color: #ffffff;
}

a{
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    border: 0px solid black;
    padding: 5px;
}