body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
}

.card{
    border: solid 1px #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.card p, .card span{
    color: #555;
}