@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Gorditas:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: "Gorditas", serif;
}

h1, h2{
    font-family: "Emilys Candy", serif;
}